@mixin transition($property...) {
	-webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin transform($property) {
	-webkit-transform: $property;
    -moz-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin box-shadow($property) {
	-webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    -o-box-shadow: $property;
    box-shadow: $property;
}
